<?xml version="1.0" ?>
<robot name="diadem" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find diadem_description)/urdf/materials.xacro" />
<xacro:include filename="$(find diadem_description)/urdf/diadem.trans" />
<xacro:include filename="$(find diadem_description)/urdf/diadem.gazebo" />


<link name="base_link">
  <inertial>
    <origin xyz="-0.000442563326493991 0.0005036289593653383 0.2715469717743787" rpy="0 0 0"/>
    <mass value="120.00"/>
    <inertia ixx="5.68" iyy="9.60" izz="13.28" ixy="0.0228" iyz="-0.0036" ixz="-0.0076"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find diadem_description)/meshes/base_link.dae" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision name="base_link_collision">
    <origin xyz="0 0 0.25" rpy="0 0 0"/>
    <geometry>
      <box size="0.5 0.5 0.3"/>
    </geometry>
  </collision>
</link>

<link name="RR_wheel_1">
  <inertial>
    <origin xyz="-2.521477218631052e-06 0.0008355153634170276 1.014704255930532e-05" rpy="0 0 0"/>
    <mass value="11.400677627805935"/>
    <inertia ixx="0.140117" iyy="0.23813" izz="0.140334" ixy="-0.0" iyz="3e-06" ixz="-9e-06"/>
  </inertial>
  <visual>
    <origin xyz="0.28 0.3 -0.18" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find diadem_description)/meshes/RR_wheel_1.dae" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision name="RR_wheel_1_collision">
    <origin xyz="0 0 0" rpy="1.57079632679 0 0"/>
    <geometry>
      <cylinder radius="0.18" length="0.08"/>
    </geometry>
  </collision>
</link>

<link name="FL_wheel_1">
  <inertial>
    <origin xyz="2.521477222738877e-06 -0.0008355153634171941 1.014704255666854e-05" rpy="0 0 0"/>
    <mass value="11.400677627805926"/>
    <inertia ixx="0.140117" iyy="0.23813" izz="0.140334" ixy="-0.0" iyz="-3e-06" ixz="9e-06"/>
  </inertial>
  <visual>
    <origin xyz="-0.28 -0.3 -0.18" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find diadem_description)/meshes/FL_wheel_1.dae" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision name="FL_wheel_1_collision">
    <origin xyz="0 0 0" rpy="1.57079632679 0 0"/>
    <geometry>
      <cylinder radius="0.18" length="0.08"/>
    </geometry>
  </collision>
</link>

<link name="RL_wheel_1">
  <inertial>
    <origin xyz="2.5214772154669163e-06 -0.0008355153634184154 1.0147042556557517e-05" rpy="0 0 0"/>
    <mass value="11.400677627805788"/>
    <inertia ixx="0.140117" iyy="0.23813" izz="0.140334" ixy="-0.0" iyz="-3e-06" ixz="9e-06"/>
  </inertial>
  <visual>
    <origin xyz="0.28 -0.3 -0.18" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find diadem_description)/meshes/RL_wheel_1.dae" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision name="RL_wheel_1_collision">
    <origin xyz="0 0 0" rpy="1.57079632679 0 0"/>
    <geometry>
      <cylinder radius="0.18" length="0.08"/>
    </geometry>
  </collision>
</link>
<!-- Add this LiDAR link after the existing links -->
<link name="lidar">
  <inertial>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <mass value="0.5"/>
    <inertia ixx="0.001" iyy="0.001" izz="0.001" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <cylinder radius="0.05" length="0.06"/>
    </geometry>
    <material name="black"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <cylinder radius="0.05" length="0.06"/>
    </geometry>
  </collision>
</link>


<link name="FR_wheel_1">
  <inertial>
    <origin xyz="-2.521477210637446e-06 0.0008355153634174162 1.0147042559055519e-05" rpy="0 0 0"/>
    <mass value="11.400677627805969"/>
    <inertia ixx="0.140117" iyy="0.23813" izz="0.140334" ixy="-0.0" iyz="3e-06" ixz="-9e-06"/>
  </inertial>
  <visual>
    <origin xyz="-0.28 0.3 -0.18" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find diadem_description)/meshes/FR_wheel_1.dae" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision name="FR_wheel_1_collision">
    <origin xyz="0 0 0" rpy="1.57079632679 0 0"/>
    <geometry>
      <cylinder radius="0.18" length="0.08"/>
    </geometry>
  </collision>
</link>

<link name="imu_link"/>
<joint name="imu_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0.0 0.0 0.310"/>
    <parent link="base_link"/>
    <child link="imu_link"/>
</joint>

<joint name="RR_wheel_joint" type="continuous">
  <origin xyz="-0.28 -0.3 0.18" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="RR_wheel_1"/>
  <axis xyz="-0.0 1.0 -0.0"/>
</joint>

<joint name="FL_wheel_joint" type="continuous">
  <origin xyz="0.28 0.3 0.18" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="FL_wheel_1"/>
  <axis xyz="0.0 1.0 0.0"/>
</joint>

<joint name="RL_wheel_joint" type="continuous">
  <origin xyz="-0.28 0.3 0.18" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="RL_wheel_1"/>
  <axis xyz="-0.0 1.0 0.0"/>
</joint>

<joint name="FR_wheel_joint" type="continuous">
  <origin xyz="0.28 -0.3 0.18" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="FR_wheel_1"/>
  <axis xyz="-0.0 1.0 -0.0"/>
</joint>

<joint name="lidar_joint" type="fixed">
  <origin xyz="0.0 0.0 0.64" rpy="0 0 -0.06"/>
  <parent link="base_link"/>
  <child link="lidar"/>
</joint>

<!-- Navigation & Sensor Frame extensions (VIO and GPS) -->
<link name="camera_link"/>
<link name="camera_link_optical"/>
<link name="gps_link"/>

<joint name="camera_joint" type="fixed">
  <parent link="base_link"/>
  <child link="camera_link"/>
  <origin xyz="0 0 0.94" rpy="0.0 0.45 0"/>
</joint>

<joint name="camera_optical_joint" type="fixed">
  <parent link="camera_link"/>
  <child link="camera_link_optical"/>
  <origin xyz="0 0 0" rpy="-1.57079632679 0 -1.57079632679"/>
</joint>

<joint name="gps_joint" type="fixed">
  <origin rpy="0 0 0" xyz="0.0 0.0 0.31"/>
  <parent link="base_link"/>
  <child link="gps_link"/>
</joint>

</robot>
